.mobileList {
    height: 100px;
   
}



 header {
    
    width: 100%;
    box-shadow: 0 3px 15px lightgrey;
    padding: .2em;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Alex Brush', cursive;
    font-size: 2.5rem;
    
}
/*
.sub-list {
    display: none;
  }
  
  .main-list li:hover .sub-list {
    display: block;
  } */

.width {
    width: 80%;
}

.decoration {
    
    border-top: 2.5px solid grey;
    border-top-width: 50%;
    border-bottom: 1px solid grey;
    border-bottom-width: 30%;
    border-radius: 25px 0px 25px 0px;
    /* border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
    

  width: 100%;
  padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.initials {
    height: 50px;
    background: url("../../assets/img/bandc.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Alex Brush', cursive;
     font-size: 2rem;
    width: 5%;
    
  
    
}

nav {
    

    margin-top: 20px;
   
}

li  {
  
    list-style-type: none;  
    padding: 0;
    
  
   
}

#menuInfoMobile {
    text-decoration: none;
    color: grey;
}

#menuInfoMobile:hover  {
    color: pink;
}

li a {
    
    text-decoration: none;
    color: grey;
}

li a:hover {
    color: pink;
}

ul li a:hover{
    color: pink;
    
}


 li a:active {
    
    color: red;
    text-decoration: none;
    
}

.info {
margin-left: 100px;
   margin-top: 20px;
}

#menuMobile {
    margin-top: 35px;
 
}

nav ul {
    text-align: left;
    width: 100%;
    
}

#menuMobile .lni {
    
    font-size: 2rem;
    color: #e42424; 
}

input#menuButton {
    display: none;
   
}

input#menuButton:checked ~ nav {
    height: 270px;
    
} 

input#infoButton {
   display: none;
   
}


.info {
    height: 200px;
    width: 100%;
    position: relative;
    transition: height 0.5s ease-out;
}

.infoForMobile{
    height: 200px;
    width: 200px;
    position: relative;
    transition: height 0.5s ease-out;
}


 @media screen and (max-width: 768px) {

    

    .info {
        display: none;
    }

    .initials {

        position: fixed;
        right: 5px;
        top: 30px;
        width: 50px;
        margin-top: 15px;
       
     }

    header nav {

        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;

    }

    li a:hover {
        color: pink;

    }
    
    ul li a:hover{
        color: pink;
        
    }


    i {
        
        font-size: 25px;

     
    }


   

}

@media screen and (max-width: 1600px) {


 header {

    font-size: 1.6rem;
    
}
}

@media screen and (max-width: 1050px) {


    header {
   
       font-size: 1.3rem;
       
   }

   nav {
    height: 30px;
   margin-bottom: 15px;

}



.initials {

   height: 30px;
  

}
   

}

@media screen and (max-width: 880px) {


    header {
   
       font-size: 1.15rem;
     

   }

 
 

}

@media screen and (min-width: 768px) {

    .infoForMobile {
        display: none;
    }

    #menuMobile {
        display: none;
    }
    
    header nav ul {
        margin-right: 2em;
    }
    
    header nav ul li {
        display: inline-block;
        margin: 0 0 0 1em;
    }
  
  

    


}

@media screen and (max-width: 768px) {

    

    .info {
        display: none;
    }

    .initials {

        position: fixed;
        right: 5px;
        top: 30px;
        width: 50px;
        margin-top: 15px;
       
     }

    header nav {

        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;

    }

    li a:hover {
        color: pink;

    }
    
    ul li a:hover{
        color: pink;
        
    }


    i {
        
        font-size: 25px;

     
    }


   

}