<app-header></app-header>
<div class="mainpage">
    <div class="hotels">
        <div class="details">
            <h2>Best Western</h2>
        <h3>Via Giacomo Matteotti, 2, Arcore, 20862</h3>
      
        <p>Reccomended as we have reserved a large number of rooms at a quoted price. Kindly book via link below or email quoting "Convenzione Matrimonio Mauri-Bauer" in the subject. Coach Service to and from venues provided</p>
        <!-- <address><a href="mailto:info@borgoleccohotel.it">info@borgoleccohotel.it</a></address>
        <a href="https://www.bestwestern.com/it_IT/book/hotels-in-arcore/best-western-plus-borgolecco-hotel/propertyCode.98321.html" target="_blank" >Website</a> -->
        <i class="fa fa-envelope-o"><a href="mailto:info@borgoleccohotel.it?subject=Convenzione Matrimonio Mauri-Bauer &body=Dear Sir/Madam, I am writing to book (insert amount of hotel rooms) hotel rooms from (insert check in date) to (insert check out date) "> info@borgoleccohotel.it</a></i>
        <i class="fa fa-globe"><a href="https://www.bestwestern.com/it_IT/book/hotels-in-arcore/best-western-plus-borgolecco-hotel/propertyCode.98321.html" target="_blank"> Website</a></i>
        <i class="fa fa-phone"><a href="tel:00390396012058"> +39 039 6012058 </a></i>    
    </div>
        <div class="bestwest"></div>
    
    
       
    </div>
    <div class="hotels">
        <div class="details">
            <h2>Conte Durini Apartments</h2>
            <h3>Piazza Conte Durini, 1 - 20862 Arcore (MB)</h3>
          
            <p>A less expensive option with rooms accomodationg for larger parties. Not as central, but a short walk to Arcore centre to avail of coach service is easily managed.</p>
            <!-- <address><a href="mailto:info@borgoleccohotel.it">info@borgoleccohotel.it</a></address>
            <a href="https://www.bestwestern.com/it_IT/book/hotels-in-arcore/best-western-plus-borgolecco-hotel/propertyCode.98321.html" target="_blank" >Website</a> -->
            <i class="fa fa-envelope-o"><a href="mailto:info@borgoleccohotel.it"> info@contedurini.it</a></i>
            <i class="fa fa-globe"><a href="https://www.contedurini.it/" target="_blank"> Website</a></i>
            <i class="fa fa-phone"><a href="tel:0039039616912"> +39 039 616912 </a></i>
        </div>
    
    <div class="apartments"></div>
    
    
       
    </div>
    <div class="hotels">
        <div class="details">
            <h2>Albergo Ristorante Santâ Eustorgio</h2>
            <h3>Via Gilera 1 - 20862 Arcore (MB)</h3>
          
            <p>Located just a few mintues from the Best Western, due to its close proximity, this hotel will also avail of the Coach Service to and from venues </p>
            <!-- <address><a href="mailto:info@borgoleccohotel.it">info@borgoleccohotel.it</a></address>
            <a href="https://www.bestwestern.com/it_IT/book/hotels-in-arcore/best-western-plus-borgolecco-hotel/propertyCode.98321.html" target="_blank" >Website</a> -->
            <i class="fa fa-envelope-o"><a href="mailto:info@santeustorgio.com"> info@santeustorgio.com</a></i>
            <i class="fa fa-globe"><a href="https://www.santeustorgio.com/" target="_blank"> Website</a></i>
            <i class="fa fa-phone"><a href="tel:00390396013718"> +39 039 6013718 </a></i>
        </div>
       
        <div class="hotel2"></div>
    
    
       
    </div>
    </div>