<app-header></app-header>
<div class="hotels">
  
    <!-- <div class="details">
        <i class="bi bi-person"></i>
        <h3>Dress Code</h3>
        
        <p>It will be quite hot in July, so we have opted for a smart-casual dress code.
            For example: Shirt, blazer and chinos instead of suit and tie.
        </p>
      
    </div> -->



    <div class="details">
        <i class="bi bi-cup"></i>

        <h3>Food</h3>
    <p>There will be quite a few food options during the aperitvo so just a note to not stock up as the dinner has quite a few courses! 
    </p>


    </div>





    <div class="details">
        <i class="bi bi-house"></i>

        <h3>Access to and from the Venue </h3>
    <p>There is car parking for those who wish to drive. For others who want to relax with tasty beverage, a coach service will
        be provided to take you to and from the church and your accomodation, providing have have selected one of the options suggested which are located in Arcore.
    </p>
  
    
    
    </div>



    <div class="details">
        <i class="bi bi-cup-straw"></i>
        <h3>Day 2 </h3>
    <p>The venue for the second day has yet to eb decided. It is looking liek a BBQ at the Velate Rugby club.
        There is parking but a coach service will also be provided to take you to and from your accomodation if staying in arcore
    </p>
  
    
    
    </div>


</div>


