<app-header></app-header>
<body>
    <div class="hotels">
        <div class="details">
            <i class="bi bi-gift"></i>

            <h3>Gifts</h3>
            <p>The most important gift to us is having you share our special day. If you do wish to gift us anything, we would love a few pennies to put in our honeymoon pot.
                You can sent to Craig via revolut or bank transfer: IE51BOFI90054394552139
            </p>
        </div>


        <div class="details">
            <i class="bi bi-cup"></i>

            <h3>Dietary Requirements</h3>
            <p>There will be many vegetarian, vegan and gluten free options available. We kindly request you to email
                "craigbauer89@gmail.com" with any dietary requirements you might have so we can cater for them in advance, Thank you!
            </p>
        </div>



        <div class="details">
            <i class="bi bi-cup-straw"></i>
            <h3>Day 2 Pool Party</h3>
            <p>Food and drink will be provided at Beat Restaurant in Arcore, a 5 minute drive or a 25-30 minute walk from the hotels listed.
                Make sure to bring your bathing suits and a towel if you wish to avail of the pool service.
                There is parking available for those that wish to drive, otherwise a bus will depart at 10:55am from the same location as the wedding day.
            </p>
            <button><a class="nav-link" href="#" [routerLink]="['/bus']" routerLinkActive="router-link-active">More Info</a></button>
        </div>
    </div>
</body>

