<app-header></app-header>
<div class="hotels">
  
    <!-- <div class="details">
        <i class="bi bi-person"></i>
        <h3>Dress Code</h3>
        
        <p>It will be quite hot in July, so we have opted for a smart-casual dress code.
            For example: Shirt, blazer and chinos instead of suit and tie.
        </p>
      
    </div> -->



    <div class="details">
        <i class="bi bi-cup"></i>

        <h3>Food</h3>
    <p>As there will be quite a few food options during the aperitvo, it is advised not to stock up to heavily, as the dinner will ahve quite a few courses! 
    </p>


    </div>





    <div class="details">
        <i class="bi bi-house"></i>

        <h3>Access to and from the Venue </h3>
    <p>There is car parking for those who wish to drive. For others who want to relax with tasty beverage, a coach service will
        be provided to take you to and from the church and your accomodation, providing have have selected one of the options suggested which are located in Arcore.
    </p>
  
    
    
    </div>



    <div class="details">
        <i class="bi bi-cup-straw"></i>
        <h3>Day 2 Meetup</h3>
    <p>Food and drink will be provided at Velate Rugby club, about a 5 minute drive from Arcore.
        There is parking available for those that wish to drive, but transportation will be organised for those that require it.
    </p>
  
    
    
    </div>


</div>


