
.body {
    
    
    height: 1200px;
    background-image: url(../../assets/img/pexels-karolina-grabowska-4041357.jpg);
    background-position: 40% 40%;
    
}

.spacing {
    height:  15px;
}

.login {
  
    margin: 10% 25%;
   
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 50%;
    background-color: white;
    border: 1px solid rgb(61, 61, 141);
    box-shadow: .5px 5px black;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}

form {

    width: 80%;
    margin: 10%;
}

.username, .password, .login1, .register, .heading {

    height: 40px;
    width: 70%;
    margin: 10px 15%;
 
   

}

// .login1, .register {
    
//     width: 80%;
//     margin: 10px 10%;;
// }


input, button, h1 {
    
    width:100%;
    height: 40px;
    border: none;
    text-align: center;
   border-radius: 3px;
    

}

input {
    background-color: rgb(250, 244, 244);
}

button {

background-color: rgb(242, 222, 225);

}

.heading{
    font-family: 'Alex Brush', cursive;
    margin-bottom: 20%;
    font-size: 3.5rem;
}


@media only screen and (min-width: 1800px) {


    .login {
  
        margin: 10% 35%;
        width: 30%;

}

}


@media only screen and (max-width: 1800px) {


    .login {
  
        margin: 10% 35%;
        width: 30%;

}

}

@media only screen and (max-width: 1500px) {


    .login {
  
        margin: 10% 30%;
        width: 40%;

}

}

@media only screen and (max-width: 800px) {


    .login {
  
     
        height: 400px;
        width: 60%;
        margin: 10% 20%;
       

    }


}



@media only screen and (max-width: 600px) {


    .spacing {
        height:  150px;
    }
  

    
    .login {
  
        margin: 0 15%;
        height: 350px;
        width: 70%;
       
       
    
    }

    input, button, h1 {
    
        margin: 10% 5%;
        width:90%;
        height: 30px;
        font-size: .9rem;
        
    
    }

    .username, .password, .login1, .register, .heading {

        height: 20px;
        width: 90%;
        margin: 0 5%;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: .9rem;
    
    }

    .heading, h1 {
        font-size: 1.5rem;
    }




}




@media only screen and (min-width: 1200px) {


    .body {
    
    
        height:2000px;
   
        
    }

}

@media only screen and (max-width: 400px) {

    .login {
  
       
        height: 300px;
        margin: 0 7.5%;
        width: 85%;
       
       
    
    }


input, button{
    
  
    font-size: .7rem;
    

}
}