
.body {
    
    margin-top: 100px;
    height:980px;
    background: url("../../assets/img/heart-g055257839_640.png");
  
    background-size: 200px,200px;
    background-repeat: repeat;
    
    
}

.spacing {
    height:  100px;
}

.login {
  
    margin: 0 25%;
   
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 50%;
    background-color: rgb(251, 250, 250);
    border: 1px solid rgb(61, 61, 141);
    box-shadow: 2.5px 5px black;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}

form {
    margin-top: 1000px;
    width: 80%;
    margin: 10%;
}

.username, .password, .login1, .register, .heading {

    height: 40px;
    width: 100%;
    // margin-top: 10px;
   

}

// .login1, .register {
    
//     width: 80%;
//     margin: 10px 10%;;
// }


input, button, h1 {
    
    width:100%;
    height: 40px;
    margin: 1%;
    border: none;
    text-align: center;
    border-radius: 5px;
    

}

.heading{
    font-family: 'Alex Brush', cursive;
    margin-bottom: 10%;
    font-size: 1.5rem;
}

.register{
    
    margin-bottom: 20%;
   
}

.email {

    height: 30px;
    background-color: rgb(208, 229, 245);
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
   
}

h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

@media only screen and (max-width: 800px) { 


    .heading{
        margin-bottom: 50px;
    }


    .login {
        
        margin: 0 25%;
        height: 350px;
        margin: 0 20%;
        width: 60%;
       
    
    }

    a {
        font-size: .5rem;
       
    }

    .heading{
      
        font-size: 1rem;
    }


    h3 {

        font-size: .5rem;
    }

}

@media only screen and (max-width: 950px) {

    .email {
    
        height: 50px;
       
    }
    
    }

@media only screen and (max-width: 560px) {

    .email {
    
        height: 30px;
       
    }
    
    }

@media only screen and (max-width: 320px) {

.email {

    height: 50px;
   
}

}