
body {
    

height: 1200px;
    background-image: url(../../assets/img/pexels-burst-545018.jpg);
    background-position: 40% 40%;
//   background: url("../../assets/img/heart-g055257839_640.png");
//     background-size: 200px,200px;
//     background-repeat: repeat;
    
    
}

.spacing {
    height:  100px;
}

.login {
  
    margin: 10% 25%;
   
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 50%;
    background-color: rgb(251, 250, 250);
    border: 1px solid rgb(61, 61, 141);
    box-shadow: 2.5px 5px black;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
   

}

form {
    margin-top: 1000px;
    width: 80%;
    margin: 10%;
    
}

.username, .password, .login1, .register, .heading {

    height: 40px;
    width: 100%;
    // margin-top: 10px;
    text-align: center;
   

}

// .login1, .register {
    
//     width: 80%;
//     margin: 10px 10%;;
// }


input, button, h1 {
    
    width:100%;
    height: 40px;
    margin: 1%;
    border: none;
    text-align: center;
    border-radius: 5px;
    

}

.heading{
    font-family: 'Alex Brush', cursive;
    margin-bottom: 10%;
    font-size: 1.5rem;
}

.register{
    
    margin-bottom: 20%;
   
}

.email {
    margin-bottom: 2%;
    height: 30px;
    background-color: rgb(208, 229, 245);
    text-align: center;
    border-radius: 5px;
   
    background-color: rgb(242, 222, 225);
}

a {
    text-decoration: none;
    color: black;
   
}

h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
}


@media only screen and (min-width: 1400px) {


    .login {
  
        margin: 10% 35%;
       
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        width: 30%;
    
    }

}

@media only screen and (max-width: 1400px) {

    .email {
    
        height: 50px;
       
    }

}

@media only screen and (max-width: 800px) { 


  


    .login {
        
     
        height: 400px;
        margin:  15%;
        width: 70%
       
    
    }

  

    .heading{
      
        font-size: 1rem;
    }


   

}



@media only screen and (max-width: 600px) {

//    a {
//     font-size: .8rem;
//    }

//    h3 {
//     font-size: .8rem;
//    }


   .login {
    margin: 15% 10%;
    width: 80%
   

}

.email {
    
    height: 60px;
   
}
    
    }

@media only screen and (max-width: 400px) {


    a {
        font-size: .7rem;
       }
    
       h3 {
        font-size: .7rem;
       }


       .login {
        
        height: 300px;
       }
    

       .email {
    
        height: 30px;
       
    }

}

