<app-header></app-header>
<div class="body">
    <div class="spacing">
        
    </div>
    <div class="login">
        <form>
            <div class="heading">
                <h1>Wedding</h1>
            </div>
            <!-- <div class="username">
                <input  type="text" ngModel name="fullname" [(ngModel)]="fullname"  placeholder="Full Name">
            </div>
            <div class="password">
                <input type="text" ngModel name="password" [(ngModel)]="password" placeholder="Password">
            </div>
            <div class="login1">
                <button type="submit" placeholder="Password"  (click)="login()" >Login</button>
            </div> -->
            <!-- <div class="register">
                <button><a class="nav-link" href="#" [routerLink]="['/thankyou']" routerLinkActive="router-link-active"  >Yes, I will be attending</a></button>
                <button><a class="nav-link" href="#" [routerLink]="['/thankyou']" routerLinkActive="router-link-active"  >I will not be attending</a></button>
            </div> -->
            <div class="heading">
                <h1>Day 2</h1>
            </div>
            <!-- <div class="register">
                <button><a class="nav-link" href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">Yes, I will be attending</a></button>
                <button><a class="nav-link" href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">I will not be attending</a></button>
            </div> -->
            <a href="mailto:craigbauer89@gmail.com?subject=Benni and Craig Wedding &body=I will be attending both/the wedding only/none of the events!">Kindly click here with response to the above events!</a>
        </form>
    </div>
</div>


