<app-header></app-header>
<body>
    <div class="spacing">
        
    </div>
    <div class="login">
        <form>
            <div class="heading">
                <h1>Dietary Requirements</h1>
               
            </div>
           
           
           
            <button class="email">
            <a href="mailto:craigbauer89@gmail.com?subject=Benni and Craig Wedding Vegetarian Dietary Requirements &body=I will be availing of the Vegetarian options. Guest names:">Vegetarian </a>
        </button>
        <button class="email">
            <a href="mailto:craigbauer89@gmail.com?subject=Benni and Craig Wedding Vegan Dietary Requirements&body=I will be availing of the Vegan options. Guest names:">Vegan</a>
        </button>
        <button class="email">
            <a href="mailto:craigbauer89@gmail.com?subject=Benni and Craig Wedding Dietary Requirements &body=Guest names: %0D%0A I have the following Allergies/Intolerances:">Allergies & Intolerances</a>
        </button>
        <div class="heading2">
            <h3>*Any difficulties, kindly send your response to "craigbauer89@gmail.com", with details of your dietary requirements</h3>
        </div>
        </form>
    </div>
</body>


