<app-header></app-header>
<body>
    <div class="firstdiv">
        <h3>Villa Mattioli</h3>
    </div>
    <div class="maps">
        <div class="details">
            <div class="logo"></div>
           
            <!-- <h3>Villa Mattioli</h3> -->
        <h5>Via Rapazzini, 2, 20855 Lesmo MB</h5>
       
        <p><i class="fa fa-automobile"> Parking</i></p>
        <p><i class="fa fa-bus"> Coach Service</i></p>
        <p><i class="fa fa-glass"> Vegetarian, vegan, gluten free options</i></p>
        <!-- class="fa fa-solid fa-mug-saucer" -->
        <p><i class="fa fa-coffee"> Coffee Bar</i></p>
        </div>
        <div class="picture"></div>
    
    
       
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2789.7843269964787!2d9.300853615235527!3d45.63506877910328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786ba5bff6ee483%3A0x52d64ce9e47073cf!2sVilla%20Mattioli!5e0!3m2!1sen!2sit!4v1661626455096!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </body>
