<app-header></app-header>
<div class="mainpage">
    <div class="hotels">
        <div class="details">
            <h2>Goss Grill Burger Arcore</h2>
        <h3>Via Giacomo Matteotti, 2, 20862 Arcore MB</h3>
      
        <p>Situated across from the best western hotel. Offers selection of burgers and grilled meats</p>
        <!-- <address><a href="mailto:info@borgoleccohotel.it">info@borgoleccohotel.it</a></address>
        <a href="https://www.bestwestern.com/it_IT/book/hotels-in-arcore/best-western-plus-borgolecco-hotel/propertyCode.98321.html" target="_blank" >Website</a> -->
        <i class="fa fa-clock-o"> 7 PM–12 AM</i>
        <i class="fa fa-globe"><a href="https://www.goss-grill-burgerarcore.it/" target="_blank"> Website</a></i>
        <i class="fa fa-phone"><a href="tel:00390396012058"> +396185050 </a></i>    
    </div>
        <div class="bestwest">  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2790.014377955261!2d9.328249576047487!3d45.63044747107715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786ba789c927ea3%3A0x73891f2cc30a2781!2sGoss%20Grill%20Burger%20Arcore!5e0!3m2!1sen!2sit!4v1687714706148!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
    
       
    </div>
    <div class="hotels">
        <div class="details">
            <h2>Lait Garden</h2>
        <h3>Via Della Pace, 12, 20862 Arcore MB</h3>
      
        <p>Located a little further down the town, a Steakhouse, Pizza, Seafood, Mediterranean, Barbecue option for Lunch, Dinner, Late Night drinks</p>
        <!-- <address><a href="mailto:info@borgoleccohotel.it">info@borgoleccohotel.it</a></address>
        <a href="https://www.bestwestern.com/it_IT/book/hotels-in-arcore/best-western-plus-borgolecco-hotel/propertyCode.98321.html" target="_blank" >Website</a> -->
        <i class="fa fa-clock-o"> 7PM–12 AM, Saturday, 6 PM–2 AM, Sunday, 12–2:30 PM, 6 PM–12 AM, </i>
        <i class="fa fa-globe"><a href="http://www.laitgarden.it/" target="_blank"> Website</a></i>
        <i class="fa fa-phone"><a href="tel:+390396012058"> +396321365 </a></i>    
    </div>
    <div class="bestwest">   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2790.294656107051!2d9.320506150592161!3d45.624816696729184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786bba96d4baa19%3A0x423fb949d209e382!2sLait%20Garden!5e0!3m2!1sen!2sit!4v1687708578141!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
       
    </div>
    <div class="hotels">
        <div class="details">
            <h2>Thats Amore</h2>
        <h3>Via F. Gilera, 58, 20862 Arcore MB</h3>
      
        <p>Simple and fast, good quality pizza option, close to the best western hotel.</p>
        <!-- <address><a href="mailto:info@borgoleccohotel.it">info@borgoleccohotel.it</a></address>
        <a href="https://www.bestwestern.com/it_IT/book/hotels-in-arcore/best-western-plus-borgolecco-hotel/propertyCode.98321.html" target="_blank" >Website</a> -->
        <i class="fa fa-clock-o">7 PM–12 AM</i>
        <i class="fa fa-globe"><a href="https://www.facebook.com/thatsamorelapizzeria/" target="_blank"> Website</a></i>
        <i class="fa fa-phone"><a href="tel:00390396012058"> +399052183</a></i>    
    </div>
        <div class="bestwest">    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2790.092872656095!2d9.326717711608715!3d45.6288705709564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786bb8927e71c75%3A0x7f6d1e1bebf9b882!2sThat&#39;s%20Amore%20La%20Pizzeria!5e0!3m2!1sen!2sit!4v1687708237425!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
       
    </div>

    </div>

    <div class="hotels">
        <div class="details">
            <h2>Il Decimo</h2>
        <h3>Via Giacomo Matteotti, 3, 20862 Arcore MB</h3>
      
        <p>Pizzeria and Seafood Restaurent situation right below the best western hotel</p>
        <!-- <address><a href="mailto:info@borgoleccohotel.it">info@borgoleccohotel.it</a></address>
        <a href="https://www.bestwestern.com/it_IT/book/hotels-in-arcore/best-western-plus-borgolecco-hotel/propertyCode.98321.html" target="_blank" >Website</a> -->
        <i class="fa fa-clock-o"> 12–3 PM, 7–11 PM</i>
        <i class="fa fa-globe"><a href="http://www.decimopizzabistrot.it/" target="_blank"> Website</a></i>
        <i class="fa fa-phone"><a href="tel:00390396012058"> +398963627</a></i>    
    </div>
        <div class="bestwest">   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2790.018181037872!2d9.328087311608762!3d45.63037107095655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786ba789af52ee1%3A0xab2dba9428f19188!2sDecimo%20PizzaBistrot!5e0!3m2!1sen!2sit!4v1687709081322!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       
    </div>
</div>

    <div class="hotels">
        <div class="details">
            <h2>Il Saraceno</h2>
        <h3>Via Monte Grappa, 2, 20862 Arcore MB</h3>
      
        <p>Family Pizzeria and Seafood Restaurent situated down the town from best western hotel</p>
        <!-- <address><a href="mailto:info@borgoleccohotel.it">info@borgoleccohotel.it</a></address>
        <a href="https://www.bestwestern.com/it_IT/book/hotels-in-arcore/best-western-plus-borgolecco-hotel/propertyCode.98321.html" target="_blank" >Website</a> -->
        <i class="fa fa-clock-o"> 2–2:30 PM, 6:30–11 PM</i>
        <i class="fa fa-globe"><a href="https://il-saraceno-pizza-restaurant.business.site/?utm_source=gmb&utm_medium=referral" target="_blank"> Website</a></i>
        <i class="fa fa-phone"><a href="tel:00390396012058"> +395965143</a></i>    
    </div>
        <div class="bestwest">   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2790.197420493!2d9.320646839394856!3d45.6267702167855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786bb084bc52a4d%3A0x4c295748c3dbd6a5!2sIl%20Saraceno!5e0!3m2!1sen!2sit!4v1687710186845!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>