<app-header></app-header>
<body>
<div class="hotels">
  


    <div class="details">
        <i class="bi bi-house"></i>

        <h3>Access to and from the Venues</h3>
    <p>For anyone wishing to drive, there is free car parking available at all venues and at the accomodation listed. For those who wish to relax and enjoy the day with some tasty beverages, a coach service will
        be provided to take you to and from the church, reception and the accomodation listed in Arcore. If you require transportation for the second day pool party, you can avail of the bus service below.
    </p>
    </div>

    <div class="details">
        <i class="bi bi-truck-front"></i>

        <h3>Coach Service</h3>
    <p>The coach service is located in the car park across from the Best Western hotel arcore. It will leave at 3pm sharp
    bringing all guests to the church. Try to kame your way from the hotel to the bus for 2:50pm. At 5pm sharp, the coach will depart from the church car park for the venue. At 1am the coach will bring all guests back to the best western car park.
   
This is also where the bus will depart at 11:00am for the second day pool party at Beat 
</p>
    </div>

    <div class="details">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d400.60763896581165!2d9.330531387016848!3d45.63088548662515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786bb966e564f57%3A0xc934d734eb9ccd8e!2sParcheggio%20a%20pagamento%20di%20via%20F.%20Gilera%20-%20Palaunimec!5e0!3m2!1sen!2sit!4v1687712385422!5m2!1sen!2sit" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>
</body>

