<app-header></app-header>
<div class="body">
    <div class="spacing">
        
    </div>
    <div class="login">
        <form>
            <div class="heading">
                <h1>Thank you!</h1>
            </div>
            <!-- <div class="username">
                <input  type="text" ngModel name="fullname" [(ngModel)]="fullname"  placeholder="Full Name">
            </div> -->
            <!-- <div class="password">
                <input type="text" ngModel name="password" [(ngModel)]="password" placeholder="Password">
            </div> -->
            <!-- <div class="login1">
                <button type="submit" placeholder="Password"  (click)="login()" >Login</button>
            </div> -->
            <!-- <div class="register">
                <button><a class="nav-link" href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">Yes, I will be attending</a></button>
                <button><a class="nav-link" href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">I will not be attending</a></button>
            </div> -->
            <div class="heading">
                <h1>Looking forward to seeing you!</h1>
            </div>
            <!-- <div class="register">
                <button><a class="nav-link" href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">Yes, I will be attending</a></button>
                <button><a class="nav-link" href="#" [routerLink]="['/register']" routerLinkActive="router-link-active">I will not be attending</a></button>
            </div> -->
        </form>
    </div>
</div>



