<app-header></app-header>
<div class="template">
    <div class="hotels">
        <div class="details">
            <h2>Ceremony</h2>
            <h3>Church of Saint Mary of the Assumption</h3>
            <p>Friday 28th July 2023, 3.30pm</p>
          
            <p>Piazza Santa Maria Assunta, 6, </p>
            <p>  20865 Usmate Velate MB</p>
            <br>
       
            <h2>Reception</h2>
            <h3>Villa Mattioli</h3>
            <p>Friday 28th July 2023, 5pm</p>
        
            <p>Via Rapazzini, 2, 20855 Lesmo MB</p>
            <br>
       
                <h2>Second Day BBQ</h2>
                <h3>Velate Rugby Club</h3>
                <p>Saturday 29th July 2023, 2pm</p>
       
                <p>Via Bernardino Luini, 20865 Usmate MB</p>
        
        </div>
    </div>
</div>


