.template {
    height:1111px;
    
    background: url("../../assets/img/pexels-pixabay-459335.jpg");
 
    position: relative;
    background-size: 100% 100%;
    background-repeat: repeat;
    
}

.hotels {
    position: absolute;
  
    width: 100%;
    
    padding-top: 3%;
    padding-bottom: 10%;
  
    // background: url("../../assets/img/templatewedding.png");
    // background-size: 50%, 25%, 100%;
    
    background-repeat: no-repeat;
   
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  
    height: 1000px;
    margin-top: 120px;
    font-family: 'Dancing Script', cursive;

    font-size: 2rem;
    border-radius: 5px;
    // background-image: ;
   
    
}

.details {
    margin: 0 5%;
    margin-left: 55%;
    height: 100%;
    width: 50%;
    
    text-align: center;
    
    border-radius: 5px;
}

h2 {
   
    font-size: 4rem;
}

p {
    font-size: 1.7rem;
}

h3 {
    font-size: 2rem;
}

@media only screen and (max-width: 1020px) {


    h2 {
   
        font-size: 3.6rem;
    }
    
    p {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.8rem;
    }

}


@media only screen and (max-width: 800px) {

.hotels {
    padding-top: 5%;
   
}
   
    h2 {
   
        font-size: 3.6rem;
    }
    
    p {
        font-size: 1.3rem;
    }
    
    h3 {
        font-size: 1.6rem;
    }

}


@media only screen and (max-width: 600px) {


    h2 {
   
        font-size: 2.8rem;
    }
    
    p {
        font-size: 1.1rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }

}

@media only screen and (max-width: 450px) {


    h2 {
   
        font-size: 2.5rem;
    }
    
    p {
        font-size: .9rem;
    }
    
    h3 {
        font-size: 1rem;
    }

}


@media only screen and (max-width: 350px) {

   

    h2 {
        margin-top: 20px;
        font-size: 1.7rem;
    }
    
    h3 {
        font-size: 1rem;
    }

    .hotels {
        font-size: .7rem;
        

    }

}