<app-header></app-header>
<div class="template">
    <div class="hotels">
        <div class="details">
            <h1>Ceremony</h1>
            <h2>Church of St Mary of the Assumption</h2>
            <hr>
            <h3>Friday 28th July 2023</h3>
            <hr>
            <h3>3.30pm</h3>
            <hr>
            <h4>Piazza Santa Maria Assunta, 6, 20865 Velate MB</h4>
     
            <br>
       
            <h1>Reception</h1>
            <h2>Villa Mattioli</h2>
            <hr>
            <h3>Friday 28th July 2023</h3>
            <hr>
            <h3>5.30pm</h3>
            <hr>
            <h4>Via Rapazzini, 2, 20855 Lesmo MB</h4>
            <br>
       
                <h1>Second Day Pool Party</h1>
                <h2>Beat</h2>
                <hr>
                <h3>Saturday 29th July 2023</h3>
                <hr>
                <h3>11am</h3>
                <hr>
                <h4>Via Enrico Forlanini, 61, 20862 Arcore MB</h4>
        
        </div>
    </div>
</div>


