<app-header></app-header>
<div class="template">
    <div class="hotels">
        <div class="details">
            <h1>Ceremony</h1>
            <h2>Church of St Mary of the Assumption</h2>
            <h3>Friday 28th July 2023, 3.30pm</h3>
            <h3>Piazza Santa Maria Assunta, 6, </h3>
            <h3>  20865 Velate MB</h3>
            <br>
       
            <h1>Reception</h1>
            <h2>Villa Mattioli</h2>
            <h3>Friday 28th July 2023, 5pm</h3>
        
            <h3>Via Rapazzini, 2, 20855 Lesmo MB</h3>
            <br>
       
                <h1>Second Day </h1>
                <h2>Velate Rugby Club</h2>
                <h3>Saturday 29th July 2023, 2pm</h3>
       
                <h3>Via Bernardino Luini, 20865 Usmate MB</h3>
        
        </div>
    </div>
</div>


