<app-header></app-header>
<div class="mainpage">
    <div class="hotels">
        <div class="details">
          
            <h2>Airports</h2>
            
            <p>There are 3 airports in Milan. Milan Malpensa, which has a train line to Milan Centrale, Milan Linate and Bergamo,  
                the latter 2  offering a bus service to Milan City centre.
                Linate is closest to Arcore if driving(20-25 mins) followed by Bergamo (40-45mins) and then Maplsensa(1 hour).
            </p>
            <p>
                <a href="https://www.aerlingus.com/" target="_blank" >Aerlingus Website</a>
                <p>
                <a href="https://www.ryanair.com/" target="_blank" >Ryanair Website</a>
            </p>
        </div>
        <div class="contain">
            <div class="bestwest">
            </div>
        </div>
    </div>

    <div class="hotels">
        <div class="details">
           
            <h2>Train Stations</h2>
        <p>Arcore is located on one of the main train lines to Milan Porto Garibaldi in the centre of Milan.
            They run twice on the hour from Milano Porto Garibaldi. All transport from the above mentioned airports have a final destination at Milan Central Station.
            From here, Milano Porto Garibaldi is just a stop away on the underground. There stopping at Arcore, one with destination Lecco and the other, Bergamo.
        </p>
        <p>
            <a href="https://www.trenord.it/en/" target="_blank" > Trenord Website</a>
            </p>
    
        </div>
        
        <div class="contain">
            <div class="apartments">
            </div>
        </div>

    
    </div>
    <div class="hotels">
        <div class="details">

            <h2>Car Hire </h2>
        <p>We recommend hiring a car if you plan to travel before/after the wedding.
            Arcore is easily accessabile by train from Milan and a coach service will be provided to bring you to/from the wedding venue.
            If you do wish to book a car we recommend Europcar on Hertz. There are cheaper options, but less trustworthy. The church ceremony, the wedding venue and all listed accomodation has free parking.
            Website links below.
        </p>
        <p>
            <a href="https://www.europcar.com/" target="_blank" >Europcar Website</a>
            <p>
                <a href="https://www.hertz.com/" target="_blank" >Herzt Website</a>
            </p>
        
        
        </div>
        <div class="contain">
            <div class="hotel2">
            </div>
        </div>
    </div>
</div>
