<app-header></app-header>
<div class="mainpage">
    <div class="hotels">
        <div class="details">
          
            <h2>Arcore</h2>
            
            <p>This is the town where the wedding will take place. 
                It is also where the 3 hotels are located. The Church is a 5 minute drive
               as is Velate Rugby Club, the venue for the second day BBQ.
                Accessiable via train to Milano Porta Garibaldi and plenty of free parking options available.
            </p>
            <p>
                <i class="fa fa-info"><a href="https://en.wikipedia.org/wiki/Arcore" target="_blank" > More information</a></i>
                </p>

        </div>
        <div class="contain">
            <div class="arcore">
            </div>
        </div>
    </div>
    <div class="hotels">
        <div class="details">
          
            <h2>Airports</h2>
            
            <p>The 3 airports around Milan are Malpensa, Linate and Bergamo.  
                Malpensa offers a train servce, with the others offering a bus service, to Milan Central train station.
                Linate is closest to Arcore if driving(20-25 mins) followed 
                by Bergamo (40-45mins) and then Maplsensa(1 hour).
            </p>
            <p>
                <i class="fa fa-plane"><a href="https://www.aerlingus.com/" target="_blank" >  Aerlingus Website &nbsp; &nbsp;</a></i>
                <i class="fa fa-plane"><a href="https://www.ryanair.com/" target="_blank" >  Ryanair Website</a></i>
                <p>
                    <br>
                   
            </p>
        </div>
        <div class="contain">
            <div class="bestwest">
            </div>
        </div>
    </div>

    <div class="hotels">
        <div class="details">
           
            <h2>Train Stations</h2>
        <p>Arcore is located on a train line to Milan Porto 
            Garibaldi in the centre of Milan. This station is just 1 stop on the underground from Milan central station.
            2 trains run each hour from Porto Garibaldi stopping at 
            Arcore, one with destination Lecco and one with destination Bergamo. 
            
        </p>
        <p>
            <i class="fa fa-train"><a href="https://www.trenord.it/en/" target="_blank" > Trenord Website</a></i>
            </p>
    
        </div>
        
        <div class="contain">
            <div class="apartments">
            </div>
        </div>

    
    </div>
    <div class="hotels">
        <div class="details">

            <h2>Car Hire </h2>
        <p>We recommend hiring a car if you plan to travel before/after the wedding.
            The will be free parking available at all hotels, the church and the reception, should you not wish to avail of the coach service.
            If you do wish to book a car we recommend Europcar on Hertz.
        </p>
        <p>
            <i class="fa fa-car"><a href="https://www.europcar.com/" target="_blank" > Europcar Website &nbsp; &nbsp;</a></i>
                <i class="fa fa-car"><a href="https://www.hertz.com/" target="_blank" >  Herzt Website</a></i>
           </p>
        
        
        </div>
        <div class="contain">
            <div class="hotel2">
            </div>
        </div>
    </div>
</div>
