<app-header></app-header>

<div class="page">

    <div class="banner">
        <div class="pic"> Benedetta & Craig 
            
         </div>
        
         <!-- <button><a class="nav-link"   (click)="isLoggedIn()">Who is logged in?</a></button> -->
        <p>Friday 28 July 2023</p>
        
        <p class="address">Villa Mattioli</p>
        <p class="address">Via Rapazzini, 2</p>
        <p class="address">20855 Lesmo MB</p>  
        <button><a class="nav-link" href="#" [routerLink]="['/rsvp']" routerLinkActive="router-link-active">R.S.V.P</a></button>
    </div>
</div>



