
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.banner {

    height: 1000px;
    background: url("../../assets/img/PHOTO-2022-08-27-18-58-09.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;

  


}

.pic {
    padding:0 15% ;
    padding-top: 200px;
    line-height: 1;
    font-size: 150px;
 
    font-family: 'Alex Brush', cursive;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    color: white;
    margin-bottom: 100px;


}



button {
    height: 75px;
    width: 30%;
    font-size: 30px;
    border-radius: 5px;
    color: white;
    background-color:  rgb(208, 229, 245);
    border: 1px solid grey;
    margin: 0 35%;
    text-align: center;
}

button a {
    color: black;
    text-decoration: none;
    font-family: 'Alex Brush', cursive;
   
}

button:hover {
    background-color: grey;
   
}


h2 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 80px;
    font-family: 'Alex Brush', cursive;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 100px;
 
}

h3 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 50px;
    font-family: 'Alex Brush', cursive;
    color: white;
    text-align: center;
 
}

h4 {

    margin-top: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 40px;
    font-family: 'Alex Brush', cursive;
    color: white;
    text-align: center;
    margin-bottom: 10px;
  
  
}


h5 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 60px;
    font-family: 'Alex Brush', cursive;
    color: white;
    text-align: center;
 
}

.address {


    font-family: 'Alex Brush', cursive;
line-height: 1;
    text-align: center;
    color: white;
}

.pic {

    font-size: 7rem;
}

h3 {
    font-size: 2.2rem;
}

h5 {
    font-size: 2.7rem;
}

h2 {
    font-size: 3rem;
 
}

@media only screen and (max-width: 700px) {
  
    .banner {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;

    }
    
    .pic {

        font-size: 95px;
    }
    
    
    h2 {
        font-size: 3rem;
     
    }
    
    h3 {
        font-size: 2.2rem;
    }
    
    h4 {
    
        font-size: 2rem;
      
    }
    
  
    h5 {
        font-size: 2.7rem;
    }
    

  }

  @media only screen and (max-width: 600px) {
    button {
        height: 60px;
        width: 40%;
        font-size: 1.2rem;
        margin: 0 30%;

        
    }
    
    .banner {
        margin-top: 25px;
            height: 1100px;
            width: 100%;
            margin-left: 0;
    }
    
    .pic {

        font-size: 5rem;
    }
    
   
    
    h2 {
        font-size: 3rem;
     
    }
    
    h3 {
        font-size: 2.1rem;
    }

    h4 {
    
        font-size: 2rem;
      
    }
    
  
    h5 {
        font-size: 2.7rem;
    }
    

  }
  @media only screen and (max-width: 500px) {
    
    
    .pic {

        font-size: 4rem;
    }
    
   
    
    h2 {
        font-size: 2.8rem;
       
     
    }
    
    h3 {
        font-size: 35px;
    }
    
    h4 {
    
        font-size: 30px;
      
    }

    h5 {
        font-size: 2.6rem;
    }
    

  }
  @media only screen and (max-width: 400px) {
  
    .pic {
        font-size: 3.9rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 2.12rem;
    }
    
  }
  
  @media only screen and (max-width: 350px) {
  
    .pic {
        font-size: 3.8rem;
        margin-bottom: 50px;
       
    }

  
    
    h2 {
        font-size: 2.4rem;
        padding: 1%;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.6rem;
    }

    
  }
  @media only screen and (min-width: 1000px) {


    .banner {
    
    
        height: 1200px;

    }
    .pic {
        padding:0 20% ;
        padding-top: 200px;
    
    }
  }


  @media only screen and (min-width: 1200px) {

    .banner {
    
    
        height: 1200px;

    }
    .pic {
        padding:0 30% ;
        padding-top: 200px;
    }
  }


  @media only screen and (min-width: 1600px) {

    .banner {
    
        
        height: 1400px;

    }
   
  }