<app-header></app-header>

<div class="page">

    <div class="banner">
        <div class="pic"> Benedetta & Craig </div>
         <!-- <button><a class="nav-link"   (click)="isLoggedIn()">Who is logged in?</a></button> -->
        <h3>Friday 28 July 2023</h3>
        <h2 class="address">Villa Mattioli</h2>
        <h4 class="address">Via Rapazzini, 2</h4>
        <h4 class="address">20855 Lesmo MB</h4>  
       
     <!--      <button><a class="nav-link" href="#" [routerLink]="['/rsvp']" routerLinkActive="router-link-active">R.S.V.P</a></button>  -->
    </div>
</div>



