<app-header></app-header>

<div class="page">

    <div class="banner">
        <div class="pic"> Benedetta & Craig </div>
         <!-- <button><a class="nav-link"   (click)="isLoggedIn()">Who is logged in?</a></button> -->
        <h5>Friday</h5>
        <h3>28th July 2023</h3>
        <h3>3.30pm</h3>

        <h2 class="address">Parrocchia S. Maria Assunta</h2>
        <h4 class="address">Piazza Santa Maria</h4>
        <h4 class="address">Assunta 6</h4>
        <h4 class="address">20865 Velate MB</h4>  

     
       
     <!--      <button><a class="nav-link" href="#" [routerLink]="['/rsvp']" routerLinkActive="router-link-active">R.S.V.P</a></button>  -->
    </div>
</div>



